html,
body {
    height: 100%;
}

.conteiner {
    max-width: 750px;
    height: 100%;
    margin: 0 auto;
    padding: 120px 0px;
    text-align: center;
}

ul {
    list-style: none;
    text-align: left;
    padding-left: 35%;
}
